version: 7.7.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - balances

definitions:
  linked:
    HttpRequester:
      url_base: https://api-m.{{ "sandbox." if config["is_sandbox"] }}paypal.com/
      authenticator:
        type: CustomAuthenticator
        client_id: "{{ config['client_id'] }}"
        class_name: source_declarative_manifest.components.PayPalOauth2Authenticator
        grant_type: client_credentials
        client_secret: "{{ config['client_secret'] }}"
        expires_in_name: expires_in
        access_token_name: access_token
        refresh_request_body:
          Content-Type: application/x-www-form-urlencoded
        token_refresh_endpoint: >-
          https://api-m.{{ "sandbox." if config["is_sandbox"]
          }}paypal.com/v1/oauth2/token
      request_headers:
        Content-Type: application/json
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            backoff_strategies:
              - type: ConstantBackoffStrategy
                backoff_time_in_seconds: 100
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 20
          start_from_page: 1

streams:
  - type: DeclarativeStream
    name: transactions
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 500
          start_from_page: 1
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: v1/reporting/transactions
        http_method: GET
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              description: >-
                Handle HTTP 400 with error message: Data for the given start
                date is not available. 
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  predicate: >-
                    {{ 'Data for the given start date is not available' in
                    response['message']}}
                  http_codes:
                    - 400
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
        request_parameters:
          fields: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - transaction_details
    primary_key:
      - transaction_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          cart_info:
            type:
              - "null"
              - object
            description: Details of items in the cart
            properties:
              item_details:
                type: array
                description: Details of individual items in the cart
                items:
                  type:
                    - "null"
                    - object
                  description: Properties of an item in the cart
                  properties:
                    item_code:
                      type:
                        - "null"
                        - string
                      description: Code representing the item
                      maxLength: 1000
                    item_name:
                      type:
                        - "null"
                        - string
                      description: Name of the item
                      maxLength: 256
                    item_amount:
                      type:
                        - "null"
                        - object
                      description: Amount of the item
                      properties:
                        value:
                          type: string
                          description: Value of the item amount
                          maxLength: 32
                        currency_code:
                          type: string
                          description: Currency code of the item amount
                          maxLength: 3
                          minLength: 3
                      additionalProperties: true
                    tax_amounts:
                      type: array
                      description: Tax amounts associated with the item
                      items:
                        type:
                          - "null"
                          - object
                        description: Properties of tax amount
                        properties:
                          tax_amount:
                            type:
                              - "null"
                              - object
                            description: Amount of tax
                            properties:
                              value:
                                type: string
                                description: Value of the tax amount
                                maxLength: 32
                              currency_code:
                                type: string
                                description: Currency code of the tax amount
                                maxLength: 3
                                minLength: 3
                            additionalProperties: true
                        additionalProperties: true
                    item_quantity:
                      type:
                        - "null"
                        - string
                      description: Quantity of the item
                    invoice_number:
                      type:
                        - "null"
                        - string
                      description: Invoice number associated with the item
                      maxLength: 200
                    item_unit_price:
                      type:
                        - "null"
                        - object
                      description: Unit price of the item
                      properties:
                        value:
                          type: string
                          description: Value of the unit price
                          maxLength: 32
                        currency_code:
                          type: string
                          description: Currency code of the unit price
                          maxLength: 3
                          minLength: 3
                      additionalProperties: true
                    item_description:
                      type:
                        - "null"
                        - string
                      description: Description of the item
                    total_item_amount:
                      type:
                        - "null"
                        - object
                      description: Total amount of the item
                      properties:
                        value:
                          type: string
                          description: Value of the total item amount
                          maxLength: 32
                        currency_code:
                          type: string
                          description: Currency code of the total item amount
                          maxLength: 3
                          minLength: 3
                      additionalProperties: true
                  additionalProperties: true
            additionalProperties: true
          payer_info:
            type:
              - "null"
              - object
            description: Information about the payer
            properties:
              account_id:
                type:
                  - "null"
                  - string
                description: ID of the payer's account
                maxLength: 13
              payer_name:
                type:
                  - "null"
                  - object
                description: Name of the payer
                properties:
                  surname:
                    type:
                      - "null"
                      - string
                    description: Surname of the payer
                    maxLength: 256
                  given_name:
                    type:
                      - "null"
                      - string
                    description: Given name of the payer
                    maxLength: 256
                  alternate_full_name:
                    type:
                      - "null"
                      - string
                    description: Alternate full name of the payer
                    maxLength: 256
                additionalProperties: true
              country_code:
                type:
                  - "null"
                  - string
                description: Country code of the payer
                maxLength: 3
              payer_status:
                type:
                  - "null"
                  - string
                description: Status of the payer's account
                maxLength: 1
              email_address:
                type:
                  - "null"
                  - string
                description: Email address of the payer
                maxLength: 256
              address_status:
                type:
                  - "null"
                  - string
                description: Status of the provided address
                maxLength: 1
            additionalProperties: true
          store_info:
            type:
              - "null"
              - object
            description: Information about the store
            properties:
              store_id:
                type:
                  - "null"
                  - string
                description: ID of the store
                maxLength: 100
              terminal_id:
                type:
                  - "null"
                  - string
                description: ID of the terminal
                maxLength: 60
            additionalProperties: true
          auction_info:
            type:
              - "null"
              - object
            description: Information related to an auction
            properties:
              auction_site:
                type:
                  - "null"
                  - string
                description: Site where the auction is taking place
                maxLength: 200
              auction_buyer_id:
                type:
                  - "null"
                  - string
                description: ID of the buyer in the auction
                maxLength: 500
              auction_item_site:
                type:
                  - "null"
                  - string
                description: Site where the auction item is listed
              auction_closing_date:
                type:
                  - "null"
                  - string
                description: Closing date and time of the auction
                format: date-time
            additionalProperties: true
          shipping_info:
            type:
              - "null"
              - object
            description: Shipping information
            properties:
              name:
                type:
                  - "null"
                  - string
                description: Name associated with the shipping information
                maxLength: 500
              address:
                type:
                  - "null"
                  - object
                description: Address for shipping
                properties:
                  city:
                    type:
                      - "null"
                      - string
                    description: City for the shipping address
                    maxLength: 256
                  line1:
                    type:
                      - "null"
                      - string
                    description: First line of the shipping address
                  line2:
                    type:
                      - "null"
                      - string
                    description: Second line of the shipping address
                  postal_code:
                    type:
                      - "null"
                      - string
                    description: Postal code of the shipping address
                    maxLength: 256
                  country_code:
                    type:
                      - "null"
                      - string
                    description: Country code of the shipping address
                    maxLength: 3
                additionalProperties: true
            additionalProperties: true
          incentive_info:
            type:
              - "null"
              - object
            description: Details of any incentives applied
            properties:
              incentive_details:
                type: array
                description: Details of individual incentives
                items:
                  type: object
                  description: Properties of an incentive
                  properties:
                    incentive_code:
                      type:
                        - "null"
                        - string
                      description: Code representing the incentive
                      maxLength: 200
                    incentive_type:
                      type:
                        - "null"
                        - string
                      description: Type of the incentive
                      maxLength: 500
                    incentive_amount:
                      type: object
                      description: Amount of the incentive
                      properties:
                        value:
                          type: string
                          description: Value of the incentive amount
                          maxLength: 32
                        currency_code:
                          type: string
                          description: Currency code of the incentive amount
                          maxLength: 3
                          minLength: 3
                      additionalProperties: true
                    incentive_program_code:
                      type:
                        - "null"
                        - string
                      description: Program code associated with the incentive
                      maxLength: 100
                  additionalProperties: true
            additionalProperties: true
          transaction_id:
            type:
              - "null"
              - string
            description: Unique ID of the transaction
            maxLength: 24
          transaction_info:
            type:
              - "null"
              - object
            description: Detailed information about the transaction
            properties:
              fee_amount:
                type:
                  - "null"
                  - object
                description: Fee amount for the transaction
                properties:
                  value:
                    type: string
                    description: Value of the fee amount
                    maxLength: 32
                  currency_code:
                    type: string
                    description: Currency code of the fee amount
                    maxLength: 3
                    minLength: 3
                additionalProperties: true
              invoice_id:
                type:
                  - "null"
                  - string
                description: ID of the invoice related to the transaction
                maxLength: 127
              custom_field:
                type:
                  - "null"
                  - string
                description: Custom field associated with the transaction
                maxLength: 127
              transaction_id:
                type:
                  - "null"
                  - string
                description: ID of the transaction
                maxLength: 24
              shipping_amount:
                type:
                  - "null"
                  - object
                description: Shipping amount for the transaction
                properties:
                  value:
                    type: string
                    description: Value of the shipping amount
                    maxLength: 32
                  currency_code:
                    type: string
                    description: Currency code of the shipping amount
                    maxLength: 3
                    minLength: 3
                additionalProperties: true
              insurance_amount:
                type:
                  - "null"
                  - object
                description: Insurance amount for the transaction
                properties:
                  value:
                    type: string
                    description: Value of the insurance amount
                    maxLength: 32
                  currency_code:
                    type: string
                    description: Currency code of the insurance amount
                    maxLength: 3
                    minLength: 3
                additionalProperties: true
              transaction_note:
                type:
                  - "null"
                  - string
                description: Note or comment related to the transaction
              paypal_account_id:
                type:
                  - "null"
                  - string
                description: ID of the PayPal account used in the transaction
                maxLength: 24
              transaction_amount:
                type:
                  - "null"
                  - object
                description: Total amount of the transaction
                properties:
                  value:
                    type: string
                    description: Value of the transaction amount
                    maxLength: 32
                  currency_code:
                    type: string
                    description: Currency code of the transaction amount
                    maxLength: 3
                    minLength: 3
                additionalProperties: true
              transaction_status:
                type:
                  - "null"
                  - string
                description: Status of the transaction
                maxLength: 1
              paypal_reference_id:
                type:
                  - "null"
                  - string
                description: Reference ID of the transaction in PayPal
                maxLength: 24
              transaction_subject:
                type:
                  - "null"
                  - string
                description: Subject or purpose of the transaction
                maxLength: 256
              protection_eligibility:
                type:
                  - "null"
                  - string
                description: Eligibility for protection in the transaction
                maxLength: 2
              transaction_event_code:
                type:
                  - "null"
                  - string
                description: Event code associated with the transaction
                maxLength: 5
              paypal_reference_id_type:
                type:
                  - "null"
                  - string
                description: Type of reference ID in PayPal
                maxLength: 3
                minLength: 3
              shipping_discount_amount:
                type:
                  - "null"
                  - object
                description: Discount amount applied to shipping
                properties:
                  value:
                    type: string
                    description: Value of the discount amount
                    maxLength: 32
                  currency_code:
                    type: string
                    description: Currency code of the discount amount
                    maxLength: 3
                    minLength: 3
                additionalProperties: true
              transaction_updated_date:
                type:
                  - "null"
                  - string
                description: Date and time when the transaction was last updated
                format: date-time
              transaction_initiation_date:
                type:
                  - "null"
                  - string
                description: Date and time when the transaction was initiated
                format: date-time
            additionalProperties: true
          transaction_updated_date:
            type:
              - "null"
              - string
            description: Date and time when the transaction was last updated
            format: date-time
          transaction_initiation_date:
            type:
              - "null"
              - string
            description: Date and time when the transaction was initiated
            format: date-time
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - transaction_updated_date
            value: >-
              {{
              format_datetime(record['transaction_info']['transaction_updated_date'],
              '%Y-%m-%dT%H:%M:%S.000Z') }}
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - transaction_id
            value: "{{ record['transaction_info']['transaction_id'] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      step: P{{ config.get('time_window', 7) }}D
      cursor_field: transaction_updated_date
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ format_datetime(config.get('end_date') if config.get('end_date')
          else now_utc(), '%Y-%m-%dT%H:%M:%S.000Z') }}
        datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ max( format_datetime(config.get('start_date'),
          '%Y-%m-%dT%H:%M:%S.000Z'), day_delta(-1095, format='%Y-%m-%dT%H:%M:%S.000Z')) }}
        datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
      end_time_option:
        type: RequestOption
        field_name: end_date
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: start_date
        inject_into: request_parameter
      cursor_granularity: PT1S
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.000Z"
  - type: DeclarativeStream
    name: balances
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: 500
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: v1/reporting/balances
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - as_of_time
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: https://json-schema.org/draft-07/schema#
        properties:
          balances:
            type:
              - "null"
              - array
            description: Object containing information about the account balances.
            items:
              type:
                - "null"
                - object
              properties:
                primary:
                  type:
                    - "null"
                    - boolean
                  description: Indicates if the balance is the primary account balance.
                currency:
                  type:
                    - "null"
                    - string
                  description: The currency used for the account balances.
                total_balance:
                  type:
                    - "null"
                    - object
                  description: Total balance in the account, including all funds.
                  properties:
                    value:
                      type:
                        - "null"
                        - string
                      description: The numerical value of the total balance.
                    currency_code:
                      type:
                        - "null"
                        - string
                      description: The currency code for the total balance.
                withheld_balance:
                  type:
                    - "null"
                    - object
                  description: Balance that is currently being withheld or pending.
                  properties:
                    value:
                      type:
                        - "null"
                        - string
                      description: The numerical value of the withheld balance.
                    currency_code:
                      type:
                        - "null"
                        - string
                      description: The currency code for the withheld balance.
                available_balance:
                  type:
                    - "null"
                    - object
                  description: Available balance in the account.
                  properties:
                    value:
                      type:
                        - "null"
                        - string
                      description: The numerical value of the available balance.
                    currency_code:
                      type:
                        - "null"
                        - string
                      description: The currency code for the available balance.
          account_id:
            type:
              - "null"
              - string
            description: >-
              The unique identifier of the account associated with the balances
              data.
          as_of_time:
            type: string
            description: The timestamp when the balances data was reported.
          last_refresh_time:
            type:
              - "null"
              - string
            description: >-
              The timestamp when the balances data was last refreshed or
              updated.
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - as_of_time
            value: "{{ format_datetime(record['as_of_time'], '%Y-%m-%dT%H:%M:%S.000Z') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: as_of_time
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ max( format_datetime(config.get('start_date'),
          '%Y-%m-%dT%H:%M:%S.000Z'), day_delta(-1095, format='%Y-%m-%dT%H:%M:%S.000Z') )
          }}
        datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
      start_time_option:
        type: RequestOption
        field_name: as_of_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.000Z"
  - type: DeclarativeStream
    name: list_products
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: v1/catalogs/products
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - products
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: https://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: Detailed information or features of the product
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the product
          name:
            type:
              - "null"
              - string
            description: The name or title of the product
          links:
            type: array
            description: List of links related to the fetched products.
            items:
              type: object
              description: Individual link item in the list.
              properties:
                rel:
                  type:
                    - "null"
                    - string
                  description: Relationship of the linked resource to the product
                href:
                  type:
                    - "null"
                    - string
                  description: The URL for the link
                method:
                  type:
                    - "null"
                    - string
                  description: HTTP method used for the link (GET, POST, PUT, DELETE, etc.)
              additionalProperties: true
          create_time:
            type:
              - "null"
              - string
            description: The time when the product was created
            format: date-time
        additionalProperties: true
  - type: DeclarativeStream
    name: show_product_details
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /v1/catalogs/products/{{ stream_slice.id }}
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: id
            partition_field: id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: https://json-schema.org/draft-07/schema#
        properties:
          type:
            type:
              - "null"
              - string
            description: The type or category of the product
          description:
            type:
              - "null"
              - string
            description: The detailed description of the product
          id:
            type:
              - "null"
              - string
            description: The unique identifier for the product
          name:
            type:
              - "null"
              - string
            description: The name of the product
          links:
            type: array
            description: Contains links related to the product details.
            items:
              type:
                - "null"
                - object
              description: Individual link properties for a specific product.
              properties:
                rel:
                  type:
                    - "null"
                    - string
                  description: The relationship of the link to the product
                href:
                  type:
                    - "null"
                    - string
                  description: The URL associated with the link
                method:
                  type:
                    - "null"
                    - string
                  description: The HTTP method used for the link
              additionalProperties: true
          category:
            type:
              - "null"
              - string
            description: The category to which the product belongs
          home_url:
            type:
              - "null"
              - string
            description: The URL for the home page of the product
          image_url:
            type:
              - "null"
              - string
            description: The URL to the image representing the product
          create_time:
            type:
              - "null"
              - string
            description: The date and time when the product was created
            format: date-time
          update_time:
            type:
              - "null"
              - string
            description: The date and time when the product was last updated
            format: date-time
        additionalProperties: true
  - type: DeclarativeStream
    name: list_disputes
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: next_page_token
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 50
          start_from_page: 1
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: v1/customer/disputes
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    primary_key:
      - dispute_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: https://json-schema.org/draft-07/schema#
        properties:
          links:
            type:
              - "null"
              - array
            description: Links related to the dispute.
            items:
              type:
                - "null"
                - object
              properties:
                rel:
                  type:
                    - "null"
                    - string
                  description: The relation of the link to the resource.
                href:
                  type:
                    - "null"
                    - string
                  description: The URL link.
                method:
                  type:
                    - "null"
                    - string
                  description: The HTTP method for the link.
          reason:
            type:
              - "null"
              - string
            description: The reason for the dispute.
          status:
            type:
              - "null"
              - string
            description: The current status of the dispute.
          outcome:
            type:
              - "null"
              - string
            description: The outcome of the dispute resolution.
          dispute_id:
            type:
              - "null"
              - string
            description: The unique identifier for the dispute.
          create_time:
            type: string
            description: The timestamp when the dispute was created.
            format: date-time
          update_time:
            type: string
            description: The timestamp when the dispute was last updated.
            format: date-time
          dispute_state:
            type:
              - "null"
              - string
            description: The current state of the dispute.
          dispute_amount:
            type:
              - "null"
              - object
            description: Details about the disputed amount.
            properties:
              value:
                type:
                  - "null"
                  - string
                description: The value of the disputed amount.
              currency_code:
                type:
                  - "null"
                  - string
                description: The currency code of the disputed amount.
          dispute_channel:
            type:
              - "null"
              - string
            description: The channel through which the dispute was initiated.
          updated_time_cut:
            type: string
            description: The cut-off timestamp for the last update.
            format: date-time
          disputed_transactions:
            type:
              - "null"
              - array
            description: Details of transactions involved in the dispute.
            items:
              type:
                - "null"
                - object
              properties:
                seller:
                  type:
                    - "null"
                    - object
                  description: Details of the seller involved in the dispute.
                  properties:
                    merchant_id:
                      type:
                        - "null"
                        - string
                      description: The merchant ID of the seller.
                  additionalProperties: true
                buyer_transaction_id:
                  type:
                    - "null"
                    - string
                  description: The transaction ID of the buyer.
              additionalProperties: true
          dispute_life_cycle_stage:
            type:
              - "null"
              - string
            description: The stage in the life cycle of the dispute.
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated_time_cut
            value: "{{ record['update_time'] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      step: P{{ config.get('time_window', 7) }}D
      cursor_field: updated_time_cut
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ format_datetime(config.get('dispute_end_date') if
          config.get('dispute_end_date') and day_delta(-180) <=
          config.get('dispute_end_date') else (now_utc() - duration('PT30M')),
          '%Y-%m-%dT%H:%M:%S') + '.000Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ format_datetime(config.get('dispute_start_date') if
          config.get('dispute_start_date') and day_delta(-180) <=
          config.get('dispute_start_date') else day_delta(-180),
          '%Y-%m-%dT%H:%M:%S') + '.000Z'}}
        datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
      end_time_option:
        type: RequestOption
        field_name: update_time_before
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: update_time_after
        inject_into: request_parameter
      cursor_granularity: PT1S
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.000Z"
  - type: DeclarativeStream
    name: search_invoices
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 1
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: v2/invoicing/search-invoices
        http_method: POST
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
        request_body_json:
          creation_date_range:
            end: >-
              {{ format_datetime(config.get('end_date') if
              config.get('end_date') else now_utc(), '%Y-%m-%dT%H:%M:%S.000Z') }}
            start: "{{ config.get('start_date') }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
            description: Unique identifier of the invoice
          links:
            type:
              - "null"
              - array
            description: Links associated with the invoice
            items:
              type:
                - "null"
                - object
              description: Details of each link
              properties:
                rel:
                  type:
                    - "null"
                    - string
                  description: Relation type of the link
                href:
                  type:
                    - "null"
                    - string
                  description: URL reference for the link
                  format: uri
                method:
                  type:
                    - "null"
                    - string
                  description: HTTP method for accessing the link
          amount:
            type:
              - "null"
              - object
            description: Detailed breakdown of the invoice amount
            properties:
              value:
                type:
                  - "null"
                  - string
                description: Total value of the invoice amount
              breakdown:
                type:
                  - "null"
                  - object
                description: >-
                  Detailed breakdown of individual components contributing to
                  the total amount
                properties:
                  custom:
                    type:
                      - "null"
                      - object
                    description: Custom amount included in the invoice
                  discount:
                    type:
                      - "null"
                      - object
                    description: Discount applied to the invoice amount
                  shipping:
                    type:
                      - "null"
                      - object
                    description: Shipping charges included in the invoice
                  tax_total:
                    type:
                      - "null"
                      - object
                    description: Total tax amount included in the invoice
                  item_total:
                    type:
                      - "null"
                      - object
                    description: Total amount of items listed in the invoice
              currency_code:
                type:
                  - "null"
                  - string
                description: Currency code of the invoice amount
          detail:
            type:
              - "null"
              - object
            description: Detailed information about the invoice
            properties:
              metadata:
                type:
                  - "null"
                  - object
                description: Metadata information related to the invoice
                properties:
                  created_by:
                    type:
                      - "null"
                      - string
                    description: Details of the user who created the invoice
                  cancel_time:
                    type:
                      - "null"
                      - string
                    description: Date and time when the invoice was cancelled
                    format: date-time
                  create_time:
                    type:
                      - "null"
                      - string
                    description: Date and time when the invoice was created
                    format: date-time
                  cancelled_by:
                    type:
                      - "null"
                      - string
                    description: Details of the user who cancelled the invoice
                  last_seen_by:
                    type:
                      - "null"
                      - string
                    description: Details of the user who last viewed the invoice
                  last_sent_time:
                    type:
                      - "null"
                      - string
                    description: Date and time when the invoice was last sent
                    format: date-time
                  created_by_flow:
                    type:
                      - "null"
                      - string
                    description: Flow information of the user who created the invoice
                  first_sent_time:
                    type:
                      - "null"
                      - string
                    description: Date and time when the invoice was first sent
                    format: date-time
                  last_updated_by:
                    type:
                      - "null"
                      - string
                    description: Details of the user who last updated the invoice
                  last_update_time:
                    type:
                      - "null"
                      - string
                    description: Date and time of the last update made to the invoice
                    format: date-time
                  invoicer_view_url:
                    type:
                      - "null"
                      - string
                    description: URL for the invoicer to view the invoice
                  recipient_view_url:
                    type:
                      - "null"
                      - string
                    description: URL for the recipient to view the invoice
              memo:
                type:
                  - "null"
                  - string
                description: Additional notes or memo related to the invoice
              note:
                type:
                  - "null"
                  - string
                description: Additional notes or messages related to the invoice
              reference:
                type:
                  - "null"
                  - string
                description: Reference information associated with the invoice
              attachments:
                type:
                  - "null"
                  - array
                description: List of attachments associated with the invoice
                items:
                  type:
                    - "null"
                    - object
                  description: Details of each attachment
                  properties:
                    id:
                      type:
                        - "null"
                        - string
                      description: Unique identifier of the attachment
                    size:
                      type:
                        - "null"
                        - string
                      description: Size of the attachment
                    create_time:
                      type:
                        - "null"
                        - string
                      description: Creation time of the attachment
                    content_type:
                      type:
                        - "null"
                        - string
                      description: Type of content in the attachment
                    reference_url:
                      type:
                        - "null"
                        - string
                      description: URL reference to the attachment
              invoice_date:
                type:
                  - "null"
                  - string
                description: Date on which the invoice was created
                format: date
              payment_term:
                type:
                  - "null"
                  - object
                description: Payment terms associated with the invoice
                properties:
                  due_date:
                    type:
                      - "null"
                      - string
                    description: Due date for the invoice payment
                    format: date
                  term_type:
                    type:
                      - "null"
                      - string
                    description: Type of payment term (e.g., Net 30)
              currency_code:
                type:
                  - "null"
                  - string
                description: Currency code of the invoice
              invoice_number:
                type:
                  - "null"
                  - string
                description: Unique invoice number
              terms_and_conditions:
                type:
                  - "null"
                  - string
                description: Terms and conditions specified for the invoice
          status:
            type:
              - "null"
              - string
            description: Current status of the invoice
          refunds:
            description: Refund transactions associated with the invoice
            transactions:
              type:
                - "null"
                - array
              description: List of refund transactions associated with the invoice
              items:
                type:
                  - "null"
                  - object
                description: Details of each refund transaction
                properties:
                  type:
                    type:
                      - "null"
                      - string
                    description: Type of refund transaction
                  amount:
                    type:
                      - "null"
                      - object
                    description: Amount of the refund transaction
                    properties:
                      value:
                        type:
                          - "null"
                          - string
                        description: Value of the refund transaction amount
                      currency_code:
                        type:
                          - "null"
                          - string
                        description: Currency code of the refund transaction amount
                  method:
                    type:
                      - "null"
                      - string
                    description: Method used for the refund transaction
                  refund_id:
                    type:
                      - "null"
                      - string
                    description: Unique identifier of the refund transaction
                  refund_date:
                    type:
                      - "null"
                      - string
                    description: Date and time of the refund transaction
                    format: date-time
            refund_amount:
              type:
                - "null"
                - object
              description: Total amount refunded for the invoice
              properties:
                value:
                  type:
                    - "null"
                    - string
                  description: Value of the refund amount
                currency_code:
                  type:
                    - "null"
                    - string
                  description: Currency code of the refund amount
          gratuity:
            type:
              - "null"
              - object
            description: Gratuity amount included in the invoice
            properties:
              value:
                type:
                  - "null"
                  - string
                description: Value of the gratuity amount
              currency_code:
                type:
                  - "null"
                  - string
                description: Currency code of the gratuity amount
          invoicer:
            type:
              - "null"
              - object
            description: Information about the invoicer associated with the invoice
            properties:
              name:
                type:
                  - "null"
                  - object
                description: Name details of the invoicer
                address:
                  type:
                    - "null"
                    - object
                  description: Address details of the invoicer
                  phones:
                    type:
                      - "null"
                      - array
                    description: List of phone numbers associated with the invoicer
                    items:
                      type:
                        - "null"
                        - object
                      description: Details of each phone number
                      properties:
                        phone_type:
                          type:
                            - "null"
                            - string
                          description: Type of the phone number
                        country_code:
                          type:
                            - "null"
                            - string
                          description: Country code of the phone number
                        national_number:
                          type:
                            - "null"
                            - string
                          description: National number of the phone number
                        extension_number:
                          type:
                            - "null"
                            - string
                          description: Extension number of the phone number
                  tax_id:
                    type:
                      - "null"
                      - string
                    description: Tax ID of the invoicer
                  website:
                    type:
                      - "null"
                      - string
                    description: Website URL of the invoicer
                  properties:
                    postal_code:
                      type:
                        - "null"
                        - string
                      description: Postal code of the invoicer
                    admin_area_1:
                      type:
                        - "null"
                        - string
                      description: Primary administrative area of the invoicer
                    admin_area_2:
                      type:
                        - "null"
                        - string
                      description: Secondary administrative area of the invoicer
                    admin_area_3:
                      type:
                        - "null"
                        - string
                      description: Tertiary administrative area of the invoicer
                    country_code:
                      type:
                        - "null"
                        - string
                      description: Country code of the invoicer
                    address_line_1:
                      type:
                        - "null"
                        - string
                      description: Address line 1 of the invoicer
                    address_line_2:
                      type:
                        - "null"
                        - string
                      description: Address line 2 of the invoicer
                    address_line_3:
                      type:
                        - "null"
                        - string
                      description: Address line 3 of the invoicer
                    address_details:
                      type:
                        - "null"
                        - object
                      description: Additional address details
                  email_address:
                    type:
                      - "null"
                      - string
                    description: Email address of the invoicer
                  additional_notes:
                    type:
                      - "null"
                      - string
                    description: Additional notes related to the address
                properties:
                  prefix:
                    type:
                      - "null"
                      - string
                    description: Prefix of the invoicer's name
                  suffix:
                    type:
                      - "null"
                      - string
                    description: Suffix of the invoicer's name
                  surname:
                    type:
                      - "null"
                      - string
                    description: Surname of the invoicer
                  full_name:
                    type:
                      - "null"
                      - string
                    description: Full name of the invoicer
                  given_name:
                    type:
                      - "null"
                      - string
                    description: Given name of the invoicer
                  middle_name:
                    type:
                      - "null"
                      - string
                    description: Middle name of the invoicer
                  alternate_full_name:
                    type:
                      - "null"
                      - string
                    description: Alternate full name of the invoicer
              business_name:
                type:
                  - "null"
                  - string
                description: Business name of the invoicer
          payments:
            description: Payment transactions associated with the invoice
            paid_amount:
              type:
                - "null"
                - object
              description: Amount paid for the invoice
              properties:
                value:
                  type:
                    - "null"
                    - string
                  description: Value of the paid amount
                currency_code:
                  type:
                    - "null"
                    - string
                  description: Currency code of the paid amount
            transactions:
              type:
                - "null"
                - array
              description: List of payment transactions associated with the invoice
              items:
                type:
                  - "null"
                  - object
                description: Details of each payment transaction
                properties:
                  type:
                    type:
                      - "null"
                      - string
                    description: Type of payment transaction
                  note:
                    type:
                      - "null"
                      - string
                    description: Additional note related to the transaction
                  amount:
                    type:
                      - "null"
                      - object
                    description: Amount of the transaction
                    properties:
                      value:
                        type:
                          - "null"
                          - string
                        description: Value of the transaction amount
                      currency_code:
                        type:
                          - "null"
                          - string
                        description: Currency code of the transaction amount
                  method:
                    type:
                      - "null"
                      - string
                    description: Payment method used for the transaction
                  payment_id:
                    type:
                      - "null"
                      - string
                    description: Unique identifier of the payment
                  payment_date:
                    type:
                      - "null"
                      - string
                    description: Date and time of the payment transaction
                    format: date-time
                  shipping_info:
                    type:
                      - "null"
                      - object
                    description: >-
                      Shipping information associated with the payment
                      transaction
                    properties:
                      name:
                        type:
                          - "null"
                          - object
                        description: Name details for shipping
                        properties:
                          prefix:
                            type:
                              - "null"
                              - string
                            description: Prefix for shipping name
                          suffix:
                            type:
                              - "null"
                              - string
                            description: Suffix for shipping name
                          surname:
                            type:
                              - "null"
                              - string
                            description: Surname for shipping
                          full_name:
                            type:
                              - "null"
                              - string
                            description: Full name for shipping
                          given_name:
                            type:
                              - "null"
                              - string
                            description: Given name for shipping
                          middle_name:
                            type:
                              - "null"
                              - string
                            description: Middle name for shipping
                          alternate_full_name:
                            type:
                              - "null"
                              - string
                            description: Alternate full name for shipping
                      address:
                        type:
                          - "null"
                          - object
                        description: Shipping address details
                        properties:
                          postal_code:
                            type:
                              - "null"
                              - string
                            description: Postal code for shipping
                          admin_area_1:
                            type:
                              - "null"
                              - string
                            description: Primary administrative area for shipping
                          admin_area_2:
                            type:
                              - "null"
                              - string
                            description: Secondary administrative area for shipping
                          admin_area_3:
                            type:
                              - "null"
                              - string
                            description: Tertiary administrative area for shipping
                          country_code:
                            type:
                              - "null"
                              - string
                            description: Country code for shipping
                          address_line_1:
                            type:
                              - "null"
                              - string
                            description: Address line 1 for shipping
                          address_line_2:
                            type:
                              - "null"
                              - string
                            description: Address line 2 for shipping
                          address_line_3:
                            type:
                              - "null"
                              - string
                            description: Address line 3 for shipping
                          address_details:
                            type:
                              - "null"
                              - object
                            description: Additional details related to the shipping address
                      business_name:
                        type:
                          - "null"
                          - string
                        description: Business name associated with the shipping
          due_amount:
            type:
              - "null"
              - object
            description: Due amount remaining to be paid for the invoice
            properties:
              value:
                type:
                  - "null"
                  - string
                description: Value of the due amount
              currency_code:
                type:
                  - "null"
                  - string
                description: Currency code of the due amount
          configuration:
            type:
              - "null"
              - object
            description: Configuration settings related to the invoice
            properties:
              allow_tip:
                type:
                  - "null"
                  - string
                description: Flag indicating whether tips are allowed for the invoice
              template_id:
                type:
                  - "null"
                  - string
                description: Unique identifier of the template used for the invoice
              tax_inclusive:
                type:
                  - "null"
                  - string
                description: >-
                  Flag indicating whether taxes are included in the invoice
                  total
              partial_payment:
                type:
                  - "null"
                  - object
                description: Details about partial payment settings
                properties:
                  minimum_amount_due:
                    type:
                      - "null"
                      - object
                    description: Minimum amount due for partial payment
                  allow_partial_payment:
                    type:
                      - "null"
                      - string
                    description: Flag indicating whether partial payments are allowed
              tax_calculated_after_discount:
                type:
                  - "null"
                  - string
                description: >-
                  Flag indicating whether taxes are calculated after applying
                  discounts
          last_update_time:
            type:
              - "null"
              - string
            description: Date and time of the last update made to the invoice
            format: date-time
          primary_recipients:
            type:
              - "null"
              - array
            description: Primary recipients associated with the invoice
            items:
              type:
                - "null"
                - object
              description: Details of each primary recipient
              properties:
                billing_info:
                  type:
                    - "null"
                    - object
                  description: Billing information of the primary recipient
                  properties:
                    name:
                      type:
                        - "null"
                        - object
                      description: Name details of the primary recipient
                      properties:
                        prefix:
                          type:
                            - "null"
                            - string
                          description: Prefix of the primary recipient's name
                        suffix:
                          type:
                            - "null"
                            - string
                          description: Suffix of the primary recipient's name
                        surname:
                          type:
                            - "null"
                            - string
                          description: Surname of the primary recipient
                        full_name:
                          type:
                            - "null"
                            - string
                          description: Full name of the primary recipient
                        given_name:
                          type:
                            - "null"
                            - string
                          description: Given name of the primary recipient
                        middle_name:
                          type:
                            - "null"
                            - string
                          description: Middle name of the primary recipient
                        alternate_full_name:
                          type:
                            - "null"
                            - string
                          description: Alternate full name of the primary recipient
                    address:
                      type:
                        - "null"
                        - object
                      description: Billing address details
                      properties:
                        phones:
                          type:
                            - "null"
                            - array
                          description: List of phone numbers for billing
                        language:
                          type:
                            - "null"
                            - string
                          description: Language preference for billing
                        postal_code:
                          type:
                            - "null"
                            - string
                          description: Postal code for billing
                        admin_area_1:
                          type:
                            - "null"
                            - string
                          description: Primary administrative area for billing
                        admin_area_2:
                          type:
                            - "null"
                            - string
                          description: Secondary administrative area for billing
                        admin_area_3:
                          type:
                            - "null"
                            - string
                          description: Tertiary administrative area for billing
                        country_code:
                          type:
                            - "null"
                            - string
                          description: Country code for billing
                        email_address:
                          type:
                            - "null"
                            - string
                          description: Email address for billing
                        additiona_info:
                          type:
                            - "null"
                            - string
                          description: Additional information related to the address
                        address_line_1:
                          type:
                            - "null"
                            - string
                          description: Address line 1 for billing
                        address_line_2:
                          type:
                            - "null"
                            - string
                          description: Address line 2 for billing
                        address_line_3:
                          type:
                            - "null"
                            - string
                          description: Address line 3 for billing
                        address_line_4:
                          type:
                            - "null"
                            - string
                          description: Address line 4 for billing
                        address_details:
                          type:
                            - "null"
                            - object
                          description: Additional details related to the address
                    business_name:
                      type:
                        - "null"
                        - string
                      description: Business name of the primary recipient
                shipping_info:
                  type:
                    - "null"
                    - object
                  description: Shipping information for the primary recipient
                  properties:
                    name:
                      type:
                        - "null"
                        - object
                      description: Name details for shipping
                      properties:
                        prefix:
                          type:
                            - "null"
                            - string
                          description: Prefix for shipping name
                        suffix:
                          type:
                            - "null"
                            - string
                          description: Suffix for shipping name
                        surname:
                          type:
                            - "null"
                            - string
                          description: Surname for shipping
                        full_name:
                          type:
                            - "null"
                            - string
                          description: Full name for shipping
                        given_name:
                          type:
                            - "null"
                            - string
                          description: Given name for shipping
                        middle_name:
                          type:
                            - "null"
                            - string
                          description: Middle name for shipping
                        alternate_full_name:
                          type:
                            - "null"
                            - string
                          description: Alternate full name for shipping
                    address:
                      type:
                        - "null"
                        - object
                      description: Shipping address details
                      properties:
                        postal_code:
                          type:
                            - "null"
                            - string
                          description: Postal code for shipping
                        admin_area_1:
                          type:
                            - "null"
                            - string
                          description: Primary administrative area for shipping
                        admin_area_2:
                          type:
                            - "null"
                            - string
                          description: Secondary administrative area for shipping
                        admin_area_3:
                          type:
                            - "null"
                            - string
                          description: Tertiary administrative area for shipping
                        country_code:
                          type:
                            - "null"
                            - string
                          description: Country code for shipping
                        address_line_1:
                          type:
                            - "null"
                            - string
                          description: Address line 1 for shipping
                        address_line_2:
                          type:
                            - "null"
                            - string
                          description: Address line 2 for shipping
                        address_line_3:
                          type:
                            - "null"
                            - string
                          description: Address line 3 for shipping
                        address_line_4:
                          type:
                            - "null"
                            - string
                          description: Address line 4 for shipping
                        address_details:
                          type:
                            - "null"
                            - object
                          description: Additional details related to the shipping address
                    business_name:
                      type:
                        - "null"
                        - string
                      description: Business name associated with the shipping
          additional_recipients:
            type:
              - "null"
              - array
            description: List of additional recipients associated with the invoice
        additionalProperties: true
  - type: DeclarativeStream
    name: list_payments
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: count
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: start_id
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 20
          cursor_value: "{{ response.next_id}}"
          stop_condition: "{{ response.next_id == ''}}"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: v1/payments/payment
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
        request_parameters:
          end_time: "{{ stream_interval.end_time.strftime('%Y-%m-%dT%H:%M:%S.0000Z') }}"
          start_time: "{{ stream_interval.start_time.strftime('%Y-%m-%dT%H:%M:%S.000Z') }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - payments
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: https://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the payment.
          cart:
            type:
              - "null"
              - string
            description: Details of the cart associated with the payment.
          links:
            type: array
            description: Collection of links related to the payment
            items:
              type: object
              properties:
                rel:
                  type:
                    - "null"
                    - string
                  description: >-
                    The relationship between the current resource and the linked
                    resource.
                href:
                  type:
                    - "null"
                    - string
                  description: The URL link related to the item.
                method:
                  type:
                    - "null"
                    - string
                  description: The HTTP method used for the link.
          payer:
            type:
              - "null"
              - object
            description: Details of the payer who made the payment
            properties:
              status:
                type:
                  - "null"
                  - string
                description: The status of the payment.
              payer_info:
                type:
                  - "null"
                  - object
                description: Information about the payer.
                properties:
                  email:
                    type:
                      - "null"
                      - string
                    description: The email address of the payer.
                  phone:
                    type:
                      - "null"
                      - string
                    description: The phone number of the payer.
                  payer_id:
                    type:
                      - "null"
                      - string
                    description: The unique identifier for the payer.
                  last_name:
                    type:
                      - "null"
                      - string
                    description: The last name of the payer.
                  first_name:
                    type:
                      - "null"
                      - string
                    description: The first name of the payer.
                  country_code:
                    type:
                      - "null"
                      - string
                    description: The country code of the payer.
                  shipping_address:
                    type:
                      - "null"
                      - object
                    description: The shipping address of the payer.
                    properties:
                      city:
                        type:
                          - "null"
                          - string
                        description: The city in the shipping address.
                      line1:
                        type:
                          - "null"
                          - string
                        description: The first line of the shipping address.
                      state:
                        type:
                          - "null"
                          - string
                        description: The state in the shipping address.
                      postal_code:
                        type:
                          - "null"
                          - string
                        description: The postal code in the shipping address.
                      country_code:
                        type:
                          - "null"
                          - string
                        description: The country code in the shipping address.
                      recipient_name:
                        type:
                          - "null"
                          - string
                        description: The recipient's name at the shipping address.
                    additionalProperties: true
                additionalProperties: true
              payment_method:
                type:
                  - "null"
                  - string
                description: The payment method used by the payer.
            additionalProperties: true
          state:
            type:
              - "null"
              - string
            description: The state of the payment.
          intent:
            type:
              - "null"
              - string
            description: The intention or purpose behind the payment.
          create_time:
            type:
              - "null"
              - string
            description: The date and time when the payment was created.
            format: date-time
          update_time:
            type:
              - "null"
              - string
            description: The date and time when the payment was last updated.
            format: date-time
          transactions:
            type:
              - "null"
              - array
            description: List of transactions associated with the payment
            items:
              type: object
              properties:
                description:
                  type:
                    - "null"
                    - string
                  description: Description of the transaction.
                payee:
                  type:
                    - "null"
                    - object
                  description: Information about the payee.
                  properties:
                    email:
                      type:
                        - "null"
                        - string
                      description: Email address of the payee.
                    merchant_id:
                      type:
                        - "null"
                        - string
                      description: Merchant ID of the payee.
                  additionalProperties: true
                amount:
                  type:
                    - "null"
                    - object
                  description: The amount details of the transaction.
                  properties:
                    total:
                      type:
                        - "null"
                        - string
                      description: Total amount of the transaction.
                    details:
                      type:
                        - "null"
                        - object
                      description: Additional details of the transaction amount.
                      properties:
                        discount:
                          type:
                            - "null"
                            - string
                          description: Discount applied to the transaction.
                        shipping:
                          type:
                            - "null"
                            - string
                          description: Shipping cost for the transaction.
                        subtotal:
                          type:
                            - "null"
                            - string
                          description: Subtotal amount of the transaction.
                        insurance:
                          type:
                            - "null"
                            - string
                          description: Insurance fee for the transaction.
                        handling_fee:
                          type:
                            - "null"
                            - string
                          description: Handling fee charged for the transaction.
                        shipping_discount:
                          type:
                            - "null"
                            - string
                          description: Discount applied to shipping cost.
                    currency:
                      type:
                        - "null"
                        - string
                      description: The currency used in the transaction.
                  additionalProperties: true
                item_list:
                  type:
                    - "null"
                    - object
                  description: List of items included in the transaction.
                  properties:
                    items:
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        description: Details of each item in the item list.
                        properties:
                          description:
                            type:
                              - "null"
                              - string
                            description: Description of the item.
                          tax:
                            type:
                              - "null"
                              - string
                            description: Tax applicable to the item.
                          name:
                            type:
                              - "null"
                              - string
                            description: Name of the item.
                          price:
                            type:
                              - "null"
                              - string
                            description: Price of the item.
                          currency:
                            type:
                              - "null"
                              - string
                            description: The currency of the item.
                          quantity:
                            type:
                              - "null"
                              - integer
                            description: Quantity of the item.
                          image_url:
                            type:
                              - "null"
                              - string
                            description: URL of the image of the item.
                    shipping_address:
                      type:
                        - "null"
                        - object
                      description: The shipping address for the item list.
                      properties:
                        city:
                          type:
                            - "null"
                            - string
                          description: City in the shipping address.
                        line1:
                          type:
                            - "null"
                            - string
                          description: First line of the shipping address.
                        state:
                          type:
                            - "null"
                            - string
                          description: State in the shipping address.
                        postal_code:
                          type:
                            - "null"
                            - string
                          description: Postal code in the shipping address.
                        country_code:
                          type:
                            - "null"
                            - string
                          description: Country code in the shipping address.
                        recipient_name:
                          type:
                            - "null"
                            - string
                          description: Recipient's name in the shipping address.
                      additionalProperties: true
                  additionalProperties: true
                reference_id:
                  type:
                    - "null"
                    - string
                  description: Reference ID associated with the transaction.
                related_resources:
                  type:
                    - "null"
                    - array
                  description: Related resources for the transaction.
                  items:
                    type: object
                    properties:
                      sale:
                        type:
                          - "null"
                          - object
                        description: Details of the sale related to the transaction.
                        properties:
                          id:
                            type:
                              - "null"
                              - string
                            description: Unique identifier for the sale.
                          links:
                            type: array
                            items:
                              type: object
                              properties:
                                rel:
                                  type:
                                    - "null"
                                    - string
                                  description: >-
                                    The relationship between the current
                                    resource and the linked resource.
                                href:
                                  type:
                                    - "null"
                                    - string
                                  description: The URL link related to the item.
                                method:
                                  type:
                                    - "null"
                                    - string
                                  description: The HTTP method used for the link.
                          state:
                            type:
                              - "null"
                              - string
                            description: The state of the sale.
                          amount:
                            type:
                              - "null"
                              - object
                            description: The amount details of the sale.
                            properties:
                              total:
                                type:
                                  - "null"
                                  - string
                                description: Total amount of the sale.
                              details:
                                type:
                                  - "null"
                                  - object
                                description: Additional details of the sale amount.
                                properties:
                                  discount:
                                    type:
                                      - "null"
                                      - string
                                    description: Discount applied to the sale.
                                  shipping:
                                    type:
                                      - "null"
                                      - string
                                    description: Shipping cost for the sale.
                                  subtotal:
                                    type:
                                      - "null"
                                      - string
                                    description: Subtotal amount of the sale.
                                  insurance:
                                    type:
                                      - "null"
                                      - string
                                    description: Insurance fee for the sale.
                                  handling_fee:
                                    type:
                                      - "null"
                                      - string
                                    description: Handling fee for the sale.
                                  shipping_discount:
                                    type:
                                      - "null"
                                      - string
                                    description: >-
                                      Discount applied to shipping cost in the
                                      sale.
                                additionalProperties: true
                              currency:
                                type:
                                  - "null"
                                  - string
                                description: Currency used in the sale.
                            additionalProperties: true
                          create_time:
                            type:
                              - "null"
                              - string
                            description: The date and time when the sale was created.
                            format: date-time
                          update_time:
                            type:
                              - "null"
                              - string
                            description: The date and time when the sale was last updated.
                            format: date-time
                          payment_mode:
                            type:
                              - "null"
                              - string
                            description: The payment mode used for the sale.
                          parent_payment:
                            type:
                              - "null"
                              - string
                            description: Parent payment associated with the sale.
                          transaction_fee:
                            type:
                              - "null"
[...]
